archive
autosave
bin
lib
include
db
dbd
tags
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
RELEASE_SITE
auto_settings.sav*
configure/*.local
O.*/
*~
*.log
*.swp
.project
.settings
.cproject
