# No defaults for NDStdArrays

record( seq, "$(P)$(R)RestorePluginDefaults" )
{
	field( SELM, "All" )
	field( SELN, "0" )
	field( DLY1, "0" )

	# Defaults
	field( DOL1, "" )

	# Plugin values
	field( DO1,  "" )

	info( autosaveFields, "DLY1 DLY2 DLY3 DLY4 DLY5 DLY6 DLY7 DLY8 DLY9 DLYA" )
}
