# Defaults for NDFileNetCDF

record(mbbo, "$(P)$(R)DefFileFormat")
{
    field(ZRST, "netCDF")
    field(ZRVL, "0")
    field(ONST, "Invalid")
    field(ONVL, "1")
}

record( seq, "$(P)$(R)RestorePluginDefaults" )
{
	field( SELM, "All" )
	field( SELN, "0" )
	field( DLY1, "0" )

	# Defaults
	field( DOL1, "$(P)$(R)DefFileFormat" )

	# Plugin values
	field( DO1,  "$(P)$(R)FileFormat" )

	info( autosaveFields, "DLY1 DLY2 DLY3 DLY4 DLY5 DLY6 DLY7 DLY8 DLY9 DLYA" )
}
